
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.wrap {
  min-width: 1170px;
  margin: 0 auto;
  font-size: 12px;
}

.inner {
  width: 1170px;
  margin: 0 auto;
}

.header__top {
  background-color: #f5f7fa;
}

.header__top__addres {
  float: left;
  padding: 20px 0;
}

.header__top__addres>li {
  display: inline-block;
}

.header__top__addres__mail {
  display: inline-block;
  font-size: 14px;
}

.header__top__addres__tel {
  display: inline-block;
  margin-left: 26px;
  font-size: 14px;
}

.header__top__addres__icon {
  display: inline-block;
  float: left;
  text-decoration: none;
}

.mail {
  background: url("../img/header/icon-mail-off.png") no-repeat;
  height: 11px;
  padding-left: 15px;
}

.header__top__addres__mail:hover>.mail {
  background: url("../img/header/icon-mail-on.png") no-repeat;
}

.header__top__addres__mail:hover>.mail>.header__top__addres__text {
  color: #00bc9c;
}

.tel {
  background: url("../img/header/icon-tel-off.png") no-repeat;
  height: 13px;
  padding-left: 15px;
}

.header__top__addres__tel:hover>.tel {
  background: url("../img/header/icon-tel-on.png") no-repeat;
}

.header__top__addres__tel:hover>.tel>.header__top__addres__text {
  color: #00bc9c;
}

.header__top__addres__text {
  margin-left: 20px;
  color: #a3b1bf;
}


.header__top__site__icon {
  float: right;
  display: inline-block;
}

.header__top__site__icon > li {
  float: left;
}

.header__top__link__icon {
  display: inline-block;
  padding: 22px 15px;
}

.facebook {
  background: url("../img/header/icon-facebook-off.png") no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.facebook:hover {
  background: url("../img/header/icon-facebook-on.png") no-repeat;
  background-position: center;
  background-color: #4668b3;
  width: 11px;
  height: 11px;
}

.google {
  background: url("../img/header/icon-google-off.png") no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.google:hover {
  background: url("../img/header/icon-google-on.png") no-repeat;
  background-position: center;
  background-color: #de5745;
  width: 11px;
  height: 11px;
}

.twitter {
  background: url("../img/header/icon-twitter-off.png") no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.twitter:hover {
  background: url("../img/header/icon-twitter-on.png") no-repeat;
  background-position: center;
  background-color: #2fbbed;
  width: 11px;
  height: 11px;
}

.pinterest {
  background: url("../img/header/icon-pinterest-off.png") no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.pinterest:hover {
  background: url("../img/header/icon-pinterest-on.png") no-repeat;
  background-position: center;
  background-color: #d94348;
  width: 11px;
  height: 11px;
}

.behance {
  background: url("../img/header/icon-behance-off.png") no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.behance:hover {
  background: url("../img/header/icon-behance-on.png") no-repeat;
  background-position: center;
  background-color: #3079ff;
  width: 11px;
  height: 11px;
}

.dribbble {
  background: url("../img/header/icon-dribbble-off.png") no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.dribbble:hover {
  background: url("../img/header/icon-dribbble-on.png") no-repeat;
  background-position: center;
  background-color: #eb6397;
  width: 11px;
  height: 11px;
}

.header__bottom {
  background-color: #fff;
}

.header__bottom__nav {
  padding: 35px 20px;
}

.header__bottom__nav__icon {
  float: left;
}

.reen__site__logo {
  background: url("../img/header/logo.png") no-repeat;
  width: 161px;
  height: 40px;
}

.reen__site__logo:hover {
  opacity: 0.6;
  transition-duration:0.3s;
}

.header__bottom__nav__menu {
  float: right;
  display: flex;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
}

.header__bottom__nav__menu__text {
  display: inline-block;
  margin-right: 40px;
  color: #a3b1bf;
  text-decoration: none;
}

.header__bottom__nav__menu__text:hover {
  color: #00bc9c;
}

.section__made {
  background-image: url("../img/main/keyvisual.jpg");
  text-align: center;
}

.section__made__text__big {
  margin-bottom: 20px;
  padding-top: 300px;
  font-size: 78px;
  color: #fff;
}

.section__made__text__small {
  margin-bottom: 50px;
  font-size: 24px;
  color: #a3b1bf;
  line-height: 30px;
}

.section__made__btn {
  margin: 0 auto;
  padding-bottom: 300px;
  height: 52px;
  width: 250px;
}

.get__btn__text {
  display: inline-block;
  padding: 15px 20px;
  background-color: #00bc9c;
  border-bottom: solid 4px #00a085;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.get__btn__text:hover {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition-duration:0.3s;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-bottom: none;
}

.section__beautiful__article {
  margin: 0 auto;
}

.section__beautiful__article__text {
  text-align: center;
}

.section__beautiful__article__text__big {
  padding-top: 120px;
  font-size: 44px;
  color: #506a85;
}

.section__beautiful__article__text__small__box {
  margin-top: 20px;
}

.section__beautiful__article__text__small {
  font-size: 22px;
  color: #a3b1bf;
  line-height: 30px;
}

.section__beautiful__li__box {
  margin-top: 70px;
  padding: 0px 20px 120px 20px
}

.section__beautiful__li {
  display: inline-block;
  margin-left: 20px;
}

.section__beautiful__li__articel__img {
  float: left;
  margin-right: 20px;
}

.section__beautiful__li__articel {
  display: inline-block;
}

.section__beautiful__li__articel__text {
  float: right;
  width: 270px;
  text-align: left;
}

.section__beautiful__li__articel__text1 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #506a85;
}

.section__beautiful__li__articel__text2 {
  font-size: 16px;
  color: #a3b1bf;
  line-height: 20px;
  word-wrap: break-word;
}

.section__check {
  background-color: #f5f7fa;
}

.section__check__articel__text {
  text-align: center;
}

.section__check__articel__text__big {
  padding-top: 120px;
  font-size: 44px;
  color: #506a85;
}

.section__check__articel__text__small {
  margin-top: 20px;
  font-size: 22px;
  color: #a3b1bf;
}

.section__check__service {
  margin-top: 70px;
}

.section__check__service__box__motel {
  float:left;
  margin-left: 20px;
  text-decoration: none;
}

.section__check__service__box__tool {
  margin-left: 30px;
  display: inline-block;
  text-decoration: none;
}


.section__check__service__mainfigure {
  width: 550px;
  height: 390px;
}

.motel__img {
  background: url("../img/main/work-main-1.jpg") no-repeat;
}

.tool__img {
  background: url("../img/main/work-main-2.jpg") no-repeat;
}

.section__check__hover {
  width: 550px;
  height: 390px;
}

.section__check__hover__text {
  padding: 180px 0;
  font-size: 30px;
  color: #fff;
  text-align: center;
  opacity: 0;
}

.section__check__service__text {
  width: 550px;
  height: 80px;
  background-color: #fff;
  text-align: center;
}

.section__check__service__text__grand {
  padding: 15px 0 5px 0;
  font-size: 20px;
  color: #a3b1bf;
}

.section__check__service__box__motel:hover>.section__check__service__mainfigure>.section__check__hover {
  background: #00bc9c;
  width: 550px;
  height: 390px;
  transition-duration:0.3s;
  opacity: 0.9;
}

.section__check__service__box__tool:hover>.section__check__service__mainfigure>.section__check__hover {
  background: #00bc9c;
  width: 550px;
  height: 390px;
  transition-duration:0.3s;
  opacity: 0.9;
}

.section__check__service__box__motel:hover>.section__check__service__mainfigure>.section__check__hover>.section__check__hover__text {
  transition-duration:0.3s;
  opacity: 1;
}


.section__check__service__box__tool:hover>.section__check__service__mainfigure>.section__check__hover>.section__check__hover__text {
  transition-duration:0.3s;
  opacity: 1;
}

.section__check__service__box__motel:hover>.section__check__service__text>.section__check__service__text__grand {
  color: #00bc9c;
}

.section__check__service__box__tool:hover>.section__check__service__text>.section__check__service__text__grand {
  color: #00bc9c;
}

.section__check__service__text__identity {
  font-size: 16px;
  color: #a3b1bf;
}

.section__check__contents__subfigure {
  margin-top: 80px;
  padding:0px 20px 120px 20px;
  box-sizing: border-box;
}

.section__check__contents__subfigure__box {
  display: inline-block;
  text-decoration: none;
}

.section__check__contents__subfigure__box:not(:first-child) {
  margin-left: 14px;
}

.work__sub__notebook {
  background: url("../img/main/work-sub-1.jpg") no-repeat;
}

.work__sub__record {
  background: url("../img/main/work-sub-2.jpg") no-repeat;
}

.work__sub__logomark {
  background: url("../img/main/work-sub-3.jpg") no-repeat;
}

.work__sub__signwall {
  background: url("../img/main/work-sub-4.jpg") no-repeat;
}

.section__check__subfigure__hover {
  width: 270px;
  height: 185px;
}

.section__check__subfigure__hover__text {
  padding: 72.5px 85px;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  opacity: 0;
}

.section__check__contents__subfigure__box:hover>.section__check__subfigure__hover {
  background: #00bc9c;
  width: 270px;
  height: 185px;
  transition-duration:0.3s;
  opacity: 0.9;
}

.section__check__contents__subfigure__box:hover>.section__check__subfigure__hover>.section__check__subfigure__hover__text {
  transition-duration:0.3s;
  opacity: 1;
}

.want {
  text-align: center;
}

.want__articel {
  text-align: center;
}

.want__articel__text__want {
  padding-top: 120px;
  margin-bottom: 30px;
  font-size: 44px;
  color: #506a85;
}

.want__articel__text__magnis {
  margin-bottom: 70px;
  font-size: 22px;
  color: #a3b1bf;
  line-height: 30px;
}

.want__btn {
  height: 52px;
  margin: 0 auto;
  padding-bottom: 120px;
  width: 250px;
}

.footer__uppre {
  background-color: #354859;
}

.footer__uppre__li {
  display: flex;
  padding: 75px 10px;
}

.footer__uppre__box:not(:first-child) {
  margin-left: 40px;

}

.footer__uppre__box__text {
  font-size: 16px;
  color: #fff;
}

.footer__uppre__box__logo {
  margin-top: 30px;
}

.footer__uppre__box__text2 {
  margin-top: 20px;
  font-size: 14px;
  color: #a3b1bf;
  line-height: 20px;
}

.footer__uppre__text3 {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: #a3b1bf;
  text-decoration: none;
}

.footer__uppre__img__box {
  margin: 30px 0 5px 0;
}

.footer__uppre__box__img {
  text-decoration: none;
}

.footer__work__motel{
  display: inline-block;
  background: url("../img/footer/thumb-1.jpg") no-repeat;
}

.footer__work__display {
  display: inline-block;
  margin-left: 5px;
  background: url("../img/footer/thumb-2.jpg") no-repeat;
}

.footer__work__record {
  display: inline-block;
  background: url("../img/footer/thumb-3.jpg") no-repeat;
}

.footer__work__mobile {
  display: inline-block;
  margin-left: 5px;
  background: url("../img/footer/thumb-4.jpg") no-repeat;
}

.footer__uppre__hover {
  width: 125px;
  height: 85px;
}

.footer__uppre__hover__text{
  padding: 35px 0;
  font-size: 15px;
  color: #fff;
  text-align: center;
  opacity: 0;
}

.footer__uppre__box__img:hover>.footer__uppre__hover {
  background: #00bc9c;
  width: 125px;
  height: 85px;
  transition-duration:0.3s;
  opacity: 0.9;
}

.footer__uppre__box__img:hover>.footer__uppre__hover>.footer__uppre__hover__text {
  transition-duration:0.3s;
  opacity: 1;
}


.footer__uppre__box__text3 {
  margin-top: 30px;
  font-size: 14px;
  color: #a3b1bf;
  line-height: 20px;
}

.footer__uppre__addres {
  margin-top: 30px;
}

.footer__uppre__addres__box__address {
  margin-bottom: 10px;
  text-decoration: none;
}

.footer__uppre__addres__box__tel {
  margin-bottom: 10px;
  text-decoration: none;
}

.footer__uppre__addres__box__mail {
  margin-bottom: 10px;
  text-decoration: none;
}

.footer__uppre__addres__icon__address {
  margin-bottom: 10px;
  background: url("../img/footer/icon-address-off.png") no-repeat;
  padding-left: 15px
}

.footer__uppre__addres__icon__tel {
  margin-bottom: 10px;
  background: url("../img/footer/icon-tel-off.png") no-repeat;
  padding-left: 15px
}

.footer__uppre__addres__icon__mail {
  margin-bottom: 10px;
  background: url("../img/footer/icon-mail-off.png") no-repeat;
  padding-left: 15px
}

.footer__uppre__addres__box__address:hover>.footer__uppre__addres__icon__address {
  background: url("../img/footer/icon-address-on.png") no-repeat;
}

.footer__uppre__addres__box__address:hover>.footer__uppre__addres__icon__address>.footer__uppre__addres__text {
  color: #00bc9c;
}

.footer__uppre__addres__box__tel:hover>.footer__uppre__addres__icon__tel {
  background: url("../img/footer/icon-tel-on.png") no-repeat;
}

.footer__uppre__addres__box__tel:hover>.footer__uppre__addres__icon__tel>.footer__uppre__addres__text {
  color: #00bc9c;
}

.footer__uppre__addres__box__mail:hover>.footer__uppre__addres__icon__mail {
  background: url("../img/footer/icon-mail-on.png") no-repeat;
}

.footer__uppre__addres__box__mail:hover>.footer__uppre__addres__icon__mail>.footer__uppre__addres__text {
  color: #00bc9c;
}

.footer__uppre__addres__text {
  display: inline-block;
  font-size: 14px;
  color: #a3b1bf;
  text-decoration: none;
}

.footer__uppre__addres__2 {
  width: 260px;
  height: 45px;
  margin-top: 20px;
  background-color: #a3b1bf;
  border-radius: 2px;
}

.footer__uppre__addres__init {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

.footer__uppre__addres__init__text {
  padding: 8.5px 0;
  width: 100px;
  font-size: 14px;
  background-color:transparent;
  border-style:none;
}

.footer__uppre__addres__btn {
  display: inline-block;
  margin-left: 50px;
  padding: 3px 0;
}

.footer__uppre__addres__btn__text {
  display: inline-block;
  width: 90px;
  background-color: #00bd9c;
  border-bottom: solid 2px #00a085;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
}

.footer__uppre__addres__btn__text:hover {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  transition-duration:0.3s;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-bottom: none;
}

.footer__lower {
  background-color: #2e3d4c;
}

.footer__lower__text__box {
  float: left;
  padding: 30px 0;
  font-size: 14px;
  color: #a3b1bf;
}

.footer__lower__li {
  float: right;
  display: flex;
  padding: 30px 0;
  font-size: 14px;
  color: #a3b1bf;
  text-align: center;
}

.footer__lower__li__link {
  float: left;
  margin-left: 30px;
}

.footer__lower__li__text {
  color: #a3b1bf;
  text-decoration: none;
}

.footer__lower__li__link:not(:first-child) {
  list-style-type: disc;
}
